.gambar {
    display:none;
}

/*
    Tiles Samping : Start
*/

.listTiles {
    height: 400px;
    float: left;
    overflow-y: scroll;
}

.listg{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listg li{
    display: block;
    margin: 10px;
}

.listg li img{
    width: 100px;
    height: 100px;
}
/*
    Tiles Samping : End
*/

.tempatGambar{
    float: left;
    margin: 10px;
}

.hidden{
    display:none;
}

.red{
    color:red;
}

.botak{
    color:red;
}